<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <div class="list">
        <ul>
          <li>item id: <%= items.id %></li>
          <li>title: <%= items.title %></li>
          <li>Price: <%= items.price %></li>
        </ul>
        <div class="buts">
          <a href="/update/<%= items.id %>"> Update </a>
          <a href="/delete/<%= items.id %>"> Delete </a>
          <a href="/"> go back </a>
        </div>
      </div>
    </div>
  </body>
</html>
