<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% items.sort((a, b) => a.id - b.id).forEach(item => { %>
      <div class="list">
        <ul>
          <li>item id: <%= item.id %></li>
          <li>title: <%= item.title %></li>
          <li>Price: <%= item.price %></li>
        </ul>
        <div class="buts">
          <a href="/update/<%= item.id %>"> Update </a>
          <a href="/delete/<%= item.id %>"> Delete </a>
          <a href="/<%= item.id %>"> See more </a>
        </div>
      </div>
      <% }); %>
    </div>
    <button onclick="window.location.href='/add'">+ add item</button>
  </body>
</html>
